@inherits LayoutComponentBase

<div class="m-2 sm:m-4">
    <div class="mb-20" id="main" role="main">
        @Body
    </div>
    <div role="contentinfo">
        <h2 class="font-extrabold tracking-tight text-lg">API for developers</h2>
        <ul class="mb-20">
            <li>
                <a class="default-link" href="/swagger/index.html">Swagger UI documentation</a>
            </li>
        </ul>
    </div>
</div>
