@inherits LayoutComponentBase

<div class="m-2 sm:m-4">
    @Body
    <div role="contentinfo">
        <h2 class="font-extrabold tracking-tight text-gray-700 text-lg">API for developers</h2>
        <ul class="mb-10">
            <li>
                <a class="default-link" href="/swagger/index.html">Swagger UI documentation</a>
            </li>
        </ul>
        <h2 class="font-extrabold tracking-tight text-gray-700 text-lg">Source code on GitHub</h2>
        <ul class="mb-20">
            <li>
                <a class="default-link" href="https://github.com/krompaco/webperf-leaderboard">krompaco/webperf-leaderboard</a>
            </li>
        </ul>
    </div>
</div>
